{% extends 'aplicacion/home.html' %}


{% block titulo %}
<div class="text-center">
    <h1 class="mx-auto my-0 text-uppercase">- Personal -</h1>
    <a class="btn btn-primary" href="#about">Ver</a>
{% endblock titulo %}

{% block contenido %}
<table>
    <tr>
        <td with="200"><h2 style="color:#F7DC6F">PERSONAL</h2></td>
        <td>
            <a href="{% url 'AltaPersonal' %}" class="btn btn-success btn-sm m-5"><i class="fa fa-plus fa-lg" title="Alta"></i></a>
        </td>
    </tr>
</table>
<table class="text-white table .align-items-end">
    <thead class="text-success">
        <tr class=".align-items-end">
            <th>Id</th>
            <th>Nro Legajo</th>
            <th>Apellido y Nombre</th>
            <th>Agrupamiento</th>
            <th>Cargo</th>
            <th>Destino</th>
            <th> MB </th>
        </tr>
    </thead>
    <tbody class="text-white">
{% for p in personal  %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nroLegajo }}</td>
            <td>{{ p.apellido_y_Nombre }}</td>
            <td>{{ p.agrupamiento }}</td>
            <td>{{ p.cargo }}</td>
            <td>{{ p.destino }}</td>
            <td class="d-flex">
                <a
                href="{% url 'EditarPersonal' p.id %}"
                class="btn btn-primary"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-edit fa-sm" title="Editar"></i>
            </a>
            <a
                href="{% url 'personalDelete' p.id %}"
                class="btn btn-danger"
                style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                ><i class="fa fa-trash fa-sm" title="Eliminar"></i>
            </a>
            </td>
        </tr>
{% endfor %}
    </tbody>
</table>
    
{% endblock contenido %}