{% extends 'aplicacion/home.html' %}


{% block titulo %}
<div class="text-center">
    <h1 class="mx-auto my-0 text-uppercase">BBDD - Personal -</h1>
    <a class="btn btn-primary" href="#about">empecemos</a>
{% endblock titulo %}

{% block contenido %}
    
<table class="text-white table .align-items-end">
    <thead class="text-success">
        <tr class=".align-items-end">
            <th>Id</th>
            <th>Nro Legajo</th>
            <th>Apellido y Nombre</th>
            <th>Agrupamiento</th>
            <th>Cargo</th>
            <th>Destino</th>
        </tr>
    </thead>
    <tbody class="text-white">
{% for p in personal  %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nroLegajo }}</td>
            <td>{{ p.apellido_y_Nombre }}</td>
            <td>{{ p.agrupamiento }}</td>
            <td>{{ p.cargo }}</td>
            <td>{{ p.destino }}</td>
        </tr>
{% endfor %}
    </tbody>
</table>
    
{% endblock contenido %}