{% extends 'aplicacion/home.html' %}


{% block titulo %}
<div class="text-center">
    <h3 class="mx-auto my-0 text-uppercase c-white" style="color:aquamarine">Informacion y Redes Sociales -</h3>
    <a class="nav-link" href="https://linkedin.com/in/ariel-kappes-963868241" target="_blank" style="color:white">Linkedin</a>
    <a class="nav-link" href="https://www.instagram.com/arielkappes/" target="_blank" style="color:white">Instagram</a>
    <a class="nav-link" href="https://wa.me/56923901903" target="_blank" style="color:white">Whatsapp</a>
{% endblock titulo %}

{% block contenido %}

{% endblock contenido %}